p, ul, ol, li {
  line-height: 2;
}

.tip-img {
  margin: 0 auto;
  width: 480px;  
  display: block;
}

.pay-wrapper {
  margin-top: 18px;  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .we-pay, .ali-pay {
    img {
      border-radius: 18px;
      width: 240px;
      height: 240px;
    }

    p {
      text-align: center;
      font-size: 20px
    }
  }
}


.we-pay {
  img {
    border: 8px solid #2aae67;
  }
}

.ali-pay {
  img {
    border: 8px solid #1677ff;
  }
}